@page "/"

<PageTitle>Home</PageTitle>

<div class="text-left">
    <h1>Välkommen!</h1>
    <div class="img"><img src="images/welcome.jpg" alt="välkomma" style="width: 100%; height: auto;" /></div>
</div>
