@inherits LayoutComponentBase
@using Blazor.Shared

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="logo"><NavLink href="/" Match="NavLinkMatch.All">Moment1.1 - Razor</NavLink></div>

            <Date />
        </div>
    </nav>
</header>
<div class="container">
    <NavMenu />

    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    Av Xiehui - Kontakt mig via e-post: <a href="mailto:maoxiehui@outlook.com">maoxiehui@outlook.com</a>
</footer>
