<nav class="d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <NavLink href="/" Match="NavLinkMatch.All">Start</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="convert">Konvertering</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="json">Json</NavLink>
        </li>
    </ul>
</nav>