<nav>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Start</NavLink>
        </li>
        <li>
            <NavLink href="convert">Konvertering</NavLink>
        </li>
        <li>
            <NavLink href="json">Json</NavLink>
        </li>
    </ul>
</nav>